@font-face {
  font-family: "Quattrocento-Regular";
  src: local("Quattrocento-Regular"),
    url(./assets/fonts/Quattrocento-Regular.ttf);
}

@font-face {
  font-family: "Quattrocento-Bold";
  src: local("Quattrocento-Bold"), url(./assets/fonts/Quattrocento-Bold.ttf);
}

main {
  /* margin: 50px auto;
  max-width: 90%; */
  padding: 0 auto;
}

:root {
  --primary: #c78428;
  --secondary: #0f67a0;
  --tertiary: #b12704;
  --light: #ffffff;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-half: calc(1rem * 0.25);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: "Quattrocento-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quattrocento-Regular", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Utility Classes Start */

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

/* Navigation Styles Start */

.navigation {
  height: 75px;
  max-height: 10vw;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  width: 100vw;
}

.logo {
  height: 70px;
  margin-left: 0px;
  padding: 10px 0px 0px 10px;
}

.logo-container {
  padding-right: 2vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-bar {
  margin: 0px 10px 0px 0px;
  padding-left: 2vw;
  width: 80%;
}

.nav-bar ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.nav-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.nav-menu {
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.nav-item {
  text-align: flex-start;
  margin-left: 15px;
  width: 100%;
}

.nav-item a {
  color: var(--dark);
}

.nav-item a:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 74px;
  width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 1;
}

.dropdown-content li {
  background-color: var(--light);
  border: 1px solid var(--dark);
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown-content a:hover {
  color: var(--secondary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.phys-1 {
  transform-origin: top left;
  animation: scaleZ 60ms ease-in-out forwards;
}

.phys-2 {
  transform-origin: top left;
  animation: scaleZ 120ms ease-in-out forwards;
}

.phys-3 {
  transform-origin: top left;
  animation: scaleZ 180ms ease-in-out forwards;
}

.phys-4 {
  transform-origin: top left;
  animation: scaleZ 240ms ease-in-out forwards;
}

.phys-5 {
  transform-origin: top left;
  animation: scaleZ 300ms ease-in-out forwards;
}

.phys-6 {
  transform-origin: top left;
  animation: scaleZ 360ms ease-in-out forwards;
}

.phys-7 {
  transform-origin: top left;
  animation: scaleZ 420ms ease-in-out forwards;
}

.phys-8 {
  transform-origin: top left;
  animation: scaleZ 480ms ease-in-out forwards;
}

.phys-9 {
  transform-origin: top left;
  animation: scaleZ 540ms ease-in-out forwards;
}

.phys-10 {
  transform-origin: top left;
  animation: scaleZ 600ms ease-in-out forwards;
}

/* Navigation Styles Start */
