@font-face {
  font-family: "Quattrocento-Regular";
  src: local("Quattrocento-Regular"),
    url(./assets/fonts/Quattrocento-Regular.ttf);
}

@font-face {
  font-family: "Quattrocento-Bold";
  src: local("Quattrocento-Bold"), url(./assets/fonts/Quattrocento-Bold.ttf);
}

main {
  /* margin: 50px auto;
  max-width: 90%; */
  padding: 0 auto;
}

:root {
  --primary: #c78428;
  --secondary: #0f67a0;
  --tertiary: #b12704;
  --light: #ffffff;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-half: calc(1rem * 0.25);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: "Quattrocento-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quattrocento-Regular", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--light);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--dark);
  height: 85px;
}

header h2 {
  width: 25%;
}

header a {
  color: var(--dark);
}

button {
  font-family: "Quattrocento-Regular";
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  border: none;
  background-color: var(--light);
}

button:hover {
  background-color: #ddd;
  color: var(--secondary);
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

/* form {
  width: 40%;
} */

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav {
  width: 75%;
  height: 100%;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

/* Utility Classes Start */

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.dropdown {
  /* position: relative;
  display: inline-block; */
}

nav ul {
  height: 100%;
}

nav ul li:hover {
  border: 1px solid black;
}

nav ul li a:hover {
  color: var(--secondary);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 84px;
  min-width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 1;
}

.dropdown-content li {
  background-color: var(--light);
}

@keyframes scaleZ {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.phys-1 {
  transform-origin: top left;
  animation: scaleZ 60ms ease-in-out forwards;
}

.phys-2 {
  transform-origin: top left;
  animation: scaleZ 120ms ease-in-out forwards;
}

.phys-3 {
  transform-origin: top left;
  animation: scaleZ 180ms ease-in-out forwards;
}

.phys-4 {
  transform-origin: top left;
  animation: scaleZ 240ms ease-in-out forwards;
}

.phys-5 {
  transform-origin: top left;
  animation: scaleZ 300ms ease-in-out forwards;
}

.phys-6 {
  transform-origin: top left;
  animation: scaleZ 360ms ease-in-out forwards;
}

.phys-7 {
  transform-origin: top left;
  animation: scaleZ 420ms ease-in-out forwards;
}

.phys-8 {
  transform-origin: top left;
  animation: scaleZ 480ms ease-in-out forwards;
}

.phys-9 {
  transform-origin: top left;
  animation: scaleZ 540ms ease-in-out forwards;
}

.phys-10 {
  transform-origin: top left;
  animation: scaleZ 600ms ease-in-out forwards;
}

.dropdown-content li {
  border: 1px solid var(--dark);
  padding-left: 10px;
}

.dropdown-content li:hover {
  background-color: #ddd;
}

.dropdown-content a:hover {
  color: var(--secondary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu-scale {
}

.phys-1 {
}

/* Utility Classes End */

/* Header Classes Start */

.header-logo {
  max-width: 25%;
  max-height: 100%;
}

.header-logo img {
  max-height: 80px;
}

/* Header Classes End */

/* Nav Classes Start */

nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

nav ul li {
  display: flex;
  height: 100%;
}

nav ul li a {
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%)); */
  display: flex;
  align-items: center;
}

/* Nav Classes End */

/* Hero Classes Start */

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  object-fit: cover;
  object-position: 50% 90%;
  width: 100%;
  height: auto;
  max-height: 35vh;
  filter: brightness(70%);
}

.hero p {
  background-color: rgba(0, 0, 0, 0.35);
  color: var(--light);
  padding: 1.5vw 1.5vw;
  border: 1px solid var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  font-size: 1.25em;
}

/* Hero Classes End */

/* About Classes Start */

.carousel {
  overflow: hidden;
}

.inner {
  margin-top: 20px;
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: var(--dark);
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  font-weight: bolder;
  color: var(--dark);
}

.headshot {
  height: 100%;
}

.bio {
  width: 50%;
  margin-left: 1em;
  display: flex;
  flex-wrap: wrap;
}

.bio h3 {
  font-size: 1em;
  font-weight: bold;
}

.bio p {
  white-space: initial;
}

.speciality {
  max-width: 10px;
}

/* About Classes End */

/* Info Classes Start */

.info {
  height: fit-content;
  background-color: rgb(235, 235, 235);
  margin: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}

.info p {
  margin: 15px;
}

.conditions {
  width: 40%;
  font-size: 0.9em;
}

.conditions ul li {
  list-style: circle;
}

/* Info Classes End */

/* Contact Classes Start */

.contact {
  background-color: var(--light);
}

.contact h2 {
  color: var(--light);
  border-color: var(--primary);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: var(dark);
}

.contact-info h3 {
  color: var(dark);
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(dark);
  border-radius: 10px;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(dark);
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

.contact-info a {
  color: var(--primary-color);
}

/* Contact Classes End */

/* Footer Classes Start */

.footer {
  margin-top: 15px;
  border-top: 1px solid black;
  padding-top: 10px;
  justify-content: space-around;
}

.footer p {
  width: fit-content;
}

/* Footer Classes End */

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--darker);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.navActive {
  color: var(--secondary);
}

/* MEDIA QUERY FIRST BREAKPOINT */
@media screen and (max-width: 990px) {
  header {
    height: 70px;
  }

  header .px-2 {
    padding-right: var(--spacing-one);
    padding-left: var(--spacing-one);
  }
}

/* MEDIA QUERY FIRST BREAKPOINT */
@media screen and (max-width: 870px) {
  header {
    height: 70px;
  }

  header .px-2 {
    padding-right: var(--spacing-half);
    padding-left: var(--spacing-half);
  }
}
